@page "/addList"

@using GoussanMedia.Domain.Models
@using Microsoft.Azure.Cosmos;

@inject ICosmosDbService _cosmosDb
@inject NavigationManager  navigation
@inject ILogger<AddList> Logger

<h1>Cosmos List</h1>

<p>This is where you will create documents, This component uses mainly blazor only components with the being bootstrap</p>

<EditForm Model="lists" OnValidSubmit="@CreateDoc">
    <DataAnnotationsValidator />
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Document ID"
                          HelperText="This is the GUID of the Document" Value="lists.Id" Disabled="true"/>
            <MudTextField Label="Document Title"
                          HelperText="Choose a title for the document" @bind-Value="lists.Name" For="@(()=> lists.Name)" />
            <MudTextField Label="Document Description"
                          HelperText="Put in whatever content you want here" @bind-Value="lists.Description" For="@(()=> lists.Description)" />
            <MudCheckBox @bind-Checked="lists.Completed" For="@(()=>lists.Completed)" />
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Submit</MudButton>
        </MudCardActions>
    </MudCard>
    <MudText Typo="Typo.body2" Align="Align.Center">
        Fill out the form to create a new document.
    </MudText>
    <MudExpansionPanels>
        <MudExpansionPanel Text="Show Validation Summary">
            @if (success)
            {
                <MudText Color="Color.Success">
                    Success
                </MudText>
            }
            else
            {
                <MudText Color="Color.Error">
                    <ValidationSummary />
                </MudText>
            }
        </MudExpansionPanel>
    </MudExpansionPanels>
</EditForm>

@code {
    private ToDoList lists = new() { Id = Guid.NewGuid().ToString() };
    private readonly string containerName = "ToDoList";
    bool success;

    private async void CreateDoc()
    {
        Container _container = _cosmosDb.GetContainer(containerName);

        lists.Created = DateTime.Now;
        try
        {
            await _container.CreateItemAsync(lists, new PartitionKey(lists.Id));
            success = true;
            StateHasChanged();
        }
        catch (CosmosException ex)
        {
            Logger.LogError(ex.ActivityId, ex, ex.Message);
            throw;
        }
        navigation.NavigateTo("list");
    }
}